body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    font-weight: normal;
}

p {
    color: grey;
}

video {
    display: block;
    margin: 0 auto;
}

footer {
    text-align: right;
}

h1.body-title {
    font-weight: 550;
}